UserKnownHostsFile /dev/null
StrictHostKeyChecking no
ServerAliveInterval 120 

Host bastion-?.fabric-testbed.net
     User xai_0051546236
     ForwardAgent yes
     Hostname %h
     IdentityFile /home/xai/fabric-jupyter/fabric-testbed-api/fabric_config/xai-bastion-1
     IdentitiesOnly yes

Host * !bastion-?.fabric-testbed.net
     ProxyJump xai_0051546236@bastion-1.fabric-testbed.net:22

