UserKnownHostsFile /dev/null
StrictHostKeyChecking no
ServerAliveInterval 120 

Host bastion-?.fabric-testbed.net
     User <BASTION_USERNAME>
     ForwardAgent yes
     Hostname %h
     IdentityFile <BASTION_PRIVATE_KEY>
     IdentitiesOnly yes

Host * !bastion-?.fabric-testbed.net
     ProxyJump <BASTION_USERNAME>@bastion-1.fabric-testbed.net:22

